body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(../diploma/img/fon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    background-color: rgb(119, 125, 119);
    position: relative;
    top: 5px;
    width: 500px;
    height: 200px;
    margin:auto;
    border: 10px solid rgb(70, 63, 67);
}
#character{
    width: 20px;
    height: 40px;
    background-color: rgb(53, 175, 37);
    position:relative;
    top: 150px;
    border-radius: 550px;
    border-color: rgb(89, 6, 6);
    border: 3px solid;
}
.animate{
    animation: jump 0.8s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: rgb(46, 2, 35);
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
    border-radius: 950px;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 5px solid rgb(164, 137, 137);
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto;
    display: block;
}
#btn{
    background-color: rgb(255, 120, 219);
}
#btn:hover, #restart:hover{
    background-color: rgb(255, 255, 37); 
}
#btn:active {
    background-color: rgb(255, 2, 175)
}
